<section class="sign-up-form" fxLayout="column" fxLayoutAlign="center center">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Sign Up</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form fxLayout="column" fxLayoutAlign="center center">
        <mat-form-field>
          <input type="text" matInput placeholder="Your Name" />
        </mat-form-field>
        <mat-form-field>
          <input type="email" matInput placeholder="Email address" />
        </mat-form-field>
        <mat-form-field>
          <input type="password" matInput placeholder="Password" />
        </mat-form-field>
        <mat-form-field>
          <input type="password" matInput placeholder="Re-type password" />
        </mat-form-field>
        <mat-card-actions>
          <button mat-stroked-button color="primary">LIKE</button>
          <button mat-raised-button color="primary">SHARE</button>
        </mat-card-actions>
      </form>
    </mat-card-content>
  </mat-card>
</section>
