host,
div {
  height: 100%;
  margin-top: 10%;
}
mat-card {
  width: 350px;
}
mat-card-title {
  text-transform: uppercase;
  color: #3f51b5;
  font-family: "Permanent Marker", cursive;
  font-size: 2.5rem;
  text-align: center;
  margin: 50px auto;
}
mat-card-content {
  font-size: 1.2rem;
  color: #555;
  text-align: center;
}
