<div
  fxFlex
  fxLayout="column"
  fxLayout.gt-md="row"
  fxLayoutGap="30px"
  fxLayoutGap.gt-md="20px"
  fxLayoutAlign="center center"
>
  <mat-card>
    <mat-card-title>activity ...</mat-card-title>
    <mat-card-content
      >Stay active and enjoy better health and more fun!</mat-card-content
    >
  </mat-card>
  <mat-card>
    <mat-card-title>community ...</mat-card-title>
    <mat-card-content
      >Get to know other people who share your passion!</mat-card-content
    >
  </mat-card>
  <mat-card>
    <mat-card-title>challenges ...</mat-card-title>
    <mat-card-content
      >Never stop! Dive into new challenges everyday</mat-card-content
    >
  </mat-card>
</div>
